.authenticateButton{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    width: 50%;
}

.linkHover {
    color: dodgerblue;
    text-decoration: underline;
}

.linkHover:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}