.gutter-row{
    padding: 3px 3px;
    background: #bfbfbf;
}

.routerBackground {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 72px;
    height: 200vh;
    background: #bfbfbf;
}

.negative{
    color: #f5222d;
    font-size: 11px;
}
.smallPositive{
    color:#000000;
    font-size: 11px;
}
.mediumPositive{
    color:#52c41a;
    font-size: 11px;
}
.largePositive{
    color:#722ed1;
    font-size: 11px;
}

.recentTransaction {
    font-size: 11px;
}
