@import '~antd/dist/antd.css';
:root {
  --border-bg-color: #367e80;
  --main-bg-color: #363a46;
  --page-bg-color: #141414;
  --card-bg-color: #f5f5f5;
  --primary-color: #35d0c6;
  --primary-color-clicked: #82e2d5;
  --neutral-color: #000000;
  --positive-color: #52c41a;
  --negative-color: #f5222d;
  --positive-large-color: #722ed1;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.site-card-border-less-wrapper {
  background: #ececec;
}


/*Portfolio themes*/
.gutter-row{
  padding: 3px 3px;
  background: var(--page-bg-color);
}

.routerBackground {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 72px;
  height: 200vh;
  background: var(--page-bg-color);
}

.negative{
  color: #f5222d;
  font-size: 11px;
}
.smallPositive{
  color: var(--neutral-color);
  font-size: 11px;
}
.mediumPositive{
  color: var(--positive-color);
  font-size: 11px;
}
.largePositive{
  color: var(--positive-large-color);
  font-size: 11px;
}

.recentTransaction {
  font-size: 11px;
}

/*Login Themes*/
.authenticateButton{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  width: 50%;
}

.linkHover {
  color: #57cec3;
  text-decoration: underline;
}

.linkHover:hover {
  color: var(--primary-color-clicked);
  cursor: pointer;
  text-decoration: underline;
}

/*Card themes*/
.cardRounded {
  text-align: center;
  border-radius: 25px !important;
}
.cardHeader {
  background: #d9d9d9;
}
/*Div Cards*/
.stonkCardHeader {
  background-color: var(--border-bg-color);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  min-height: 48px;
  margin-bottom: -1px;
  padding-bottom: 9px;
  padding-top: 16px;
  text-align: center;
}
.stonkCardBody {
  background-color: var(--card-bg-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/*lastUpdated text*/
.lastUpdateText {
  color: #bfbfbf;
  font-size: 10px;
}

@media (max-width: 847px){
  .carouselWithDots {
    padding-top: 20px;
  }
}

.ant-carousel .slick-dots-bottom{
  bottom: -20px;
}

/*Antd theme overwrites */
.ant-btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
}
.ant-btn:hover {
  color: white;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: var(--primary-color-clicked);
  border-color: var(--primary-color-clicked);
}
/*Ant toggle overwrites*/
.ant-switch-checked {
  background-color: var(--primary-color);
}
/*Ant Menu overwrites*/
.ant-layout-header,
.ant-layout-sider,
.ant-menu {
  background: var(--main-bg-color);
  border-right-color: var(--main-bg-color);
  color: #fff !important;
}
.ant-menu-item-disabled, .ant-menu-item-disabled a{
  color: var(--neutral-color) !important;
}
.ant-menu-item-selected{
  background-color: var(--primary-color) !important;
  border-right-color: var(--border-bg-color) !important;
  color: #fff !important;
}
.ant-menu-item-selected a,.ant-menu-item-selected a:hover {
  color: #fff !important;
}
.ant-menu-item-active, .ant-menu-item-active a:hover {
  color: #36676c !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-danger.ant-menu-item-selected {
  background-color: var(--primary-color-clicked) !important;
}
.ant-menu-inline-collapsed .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right-color: var(--border-bg-color) !important;
}
.ant-menu-item::after {
  background-color: var(--main-bg-color);
}

.ant-menu-item a{
  color: #fff;
}

  /*Ant card overwrites*/
.ant-card {
  border-radius: 25px !important;
  background: var(--border-bg-color);
}
.ant-card-head {
  color: #fff;
}
.ant-card-bordered {
  border: 1px solid var(--main-bg-color);
}
.ant-card-hoverable:hover {
  border-color: #e0fbf5;
}
.ant-card-body{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--card-bg-color);
}
/*Ant modal overwrites*/
.ant-modal-title {
  color: #fff;
}
.ant-modal-header {
  background-color: var(--main-bg-color);
  color: #fff;
  text-align: center;
}
.ant-modal-content {
  background-color: var(--main-bg-color);
  color: #fff;
}
.ant-modal-close {
  color: #fff;
}
.ant-modal-footer {
  text-align: left;
}
/*Ant message overwrites*/
.ant-message-success .anticon {
  color: var(--primary-color);
}

/*Ant form overwrites*/
.ant-form-item-label > label {
  color: #fff;
}

.ant-form-item-extra {
  color: #fff;
}
/*Slick slides overwrites*/
.slick-slide {
  padding: 0 8px;
}
