@import '~antd/dist/antd.css';
:root {
  --border-bg-color: #367e80;
  --main-bg-color: #363a46;
  --page-bg-color: #141414;
  --card-bg-color: #f5f5f5;
  --primary-color: #35d0c6;
  --primary-color-clicked: #82e2d5;
  --color-9: #b1f1e7;
  --color-10: #e0fbf5;
  --antd-wave-shadow-color: var(--active-color);
  --color-5: #359c99; /*Use when #40a9ff*/
  --grey-4: #f0f0f0;
  --active-color: #35bab3;
  --neutral-color: #000000;
  --positive-color: #52c41a;
  --negative-color: #f5222d;
  --positive-large-color: #722ed1;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.site-card-border-less-wrapper {
  background: #ececec;
}


/*Portfolio themes*/
.gutter-row{
  padding: 3px 3px;
  background: var(--page-bg-color);
}

.routerBackground {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 72px;
  background: var(--page-bg-color);
  height: 101%;
  /*overflow-y: hidden;*/
}

.negative{
  color: #f5222d;
  font-size: 11px;
}
.smallPositive{
  color: var(--neutral-color);
  font-size: 11px;
}
.mediumPositive{
  color: var(--positive-color);
  font-size: 11px;
}
.largePositive{
  color: var(--positive-large-color);
  font-size: 11px;
}

.recentTransaction {
  font-size: 11px;
}

/*Login Themes*/
.authenticateButton{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  width: 50%;
}

.linkHover {
  color: #57cec3;
  text-decoration: underline;
}

.linkHover:hover {
  color: var(--primary-color-clicked);
  cursor: pointer;
  text-decoration: underline;
}

/*Card themes*/
.cardRounded {
  text-align: center;
  border-radius: 25px !important;
}
.cardHeader {
  background: #d9d9d9;
}
/*Div Cards*/
.stonkCardHeader {
  background-color: var(--border-bg-color);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  min-height: 48px;
  margin-bottom: -1px;
  padding-bottom: 9px;
  padding-top: 16px;
  text-align: center;
}
.stonkCardBody {
  background-color: var(--card-bg-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/*lastUpdated text*/
.lastUpdateText {
  color: #bfbfbf;
  font-size: 10px;
}

.hoverTableRows:hover {
  cursor: pointer;
}

@media (max-width: 847px){
  .carouselWithDots {
    padding-top: 20px;
  }
}

.ant-carousel .slick-dots-bottom{
  bottom: -20px;
}

/*Antd theme overwrites */
.ant-btn-primary{
  background: var(--primary-color);
  border-color: var(--primary-color);
}
.ant-btn:hover {
  color: white;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: var(--primary-color-clicked);
  border-color: var(--primary-color-clicked);
}

.ant-btn-link {
  color: var(--primary-color);
}
.ant-btn-link:hover,
.ant-btn-link:focus {
  color: var(--primary-color-clicked);
  border-color: var(--primary-color-clicked);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: var(--primary-color);
}
.ant-checkbox-checked::after {
  border: 1px solid var(--primary-color);
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.ant-dropdown-menu-item-selected {
  color: var(--primary-color);
  background-color: var(--color-10);
}
.ant-table-filter-trigger.active{
  color: var(--active-color);
}
.ant-table-column-sorter-up.active ,
.ant-table-column-sorter-down.active {
  color: var(--active-color);
}
.ant-input-group-addon .ant-select-open .ant-select-selector,
.ant-input-group-addon .ant-select-focused .ant-select-selector {
  color: var(--primary-color-clicked);
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--color-5);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  background-color: var(--color-10);
}
.ant-picker-focused {
  border-color: var(--primary-color);
  -webkit-box-shadow: 0 0 0 2px rgba(53, 186, 179, 0.2);
          box-shadow: 0 0 0 2px rgba(53, 186, 179, 0.2);
}
.ant-picker:hover,
.ant-picker-focused {
  border-color: var(--primary-color);
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
  border-color:var(--active-color);
}
.ant-picker-today-btn {
  color: var(--primary-color);
}
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: var(--primary-color);
}

.ant-picker-range .ant-picker-active-bar{
  background: var(--active-color);
}


.ant-input-affix-wrapper:hover{
  border-color: var(--primary-color);
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--primary-color);
  -webkit-box-shadow: 0 0 0 2px rgba(53, 186, 179, 0.2);
          box-shadow: 0 0 0 2px rgba(53, 186, 179, 0.2);
}


.ant-layout-content {
  min-height: 100vh;
}

/*Ant toggle overwrites*/
.ant-switch-checked {
  background-color: var(--primary-color);
}
/*Ant Menu overwrites*/
.ant-layout-header,
.ant-layout-sider,
.ant-menu {
  background: var(--main-bg-color);
  border-right-color: var(--main-bg-color);
  color: #fff !important;
}
.ant-menu-item-disabled, .ant-menu-item-disabled a{
  color: var(--neutral-color) !important;
}
.ant-menu-item-selected{
  background-color: var(--primary-color) !important;
  border-right-color: var(--border-bg-color) !important;
  color: #fff !important;
}
.ant-menu-item-selected a,.ant-menu-item-selected a:hover {
  color: #fff !important;
}
.ant-menu-item-active, .ant-menu-item-active a:hover {
  color: #36676c !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-danger.ant-menu-item-selected {
  background-color: var(--primary-color-clicked) !important;
}
.ant-menu-inline-collapsed .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right-color: var(--border-bg-color) !important;
}
.ant-menu-item::after {
  background-color: var(--main-bg-color);
}

.ant-menu-item a{
  color: #fff;
}

  /*Ant card overwrites*/
.ant-card {
  border-radius: 25px !important;
  background: var(--border-bg-color);
}
.ant-card-head {
  color: #fff;
}
.ant-card-bordered {
  border: 1px solid var(--main-bg-color);
}
.ant-card-hoverable:hover {
  border-color: #e0fbf5;
}
.ant-card-body{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--card-bg-color);
}
/*Ant modal overwrites*/
.ant-modal-title {
  color: #fff;
}
.ant-modal-header {
  background-color: var(--main-bg-color);
  /*background-color: var(--grey-4);*/
  color: #fff;
  text-align: center;
}
.ant-modal-content {
  background-color: var(--main-bg-color);
  /*background-color: var(--grey-4);*/
  color: #fff;
}
.ant-modal-close {
  color: #fff;
}
.ant-modal-close:focus, .ant-modal-close:hover{
  color: var(--primary-color);
}
.ant-modal-footer {
  text-align: left;
}
.loginCard {
  height: 100%;
  width: 100%;
  text-align: center;
}


/*Ant message overwrites*/
.ant-message-success .anticon {
  color: var(--primary-color);
}

/*Ant form overwrites*/
.ant-form-item-label > label {
  color: #fff;
}

.ant-form-item-extra {
  color: #fff;
}
/*Slick slides overwrites*/
.slick-slide {
  padding: 0 8px;
}
